@charset 'UTF-8';

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@mixin shadow-material($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

@include meyer-reset;

html, body
{

	font-family:"Roboto",sans-serif ! important;
}

$c-main-black : #2a2a2b;
$c-main-red : #b83143;
.page-full
{
	background-color : $c-main-black;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
}


.result-overlay
{
	position:fixed;
	left:0; right:0;
	bottom:0; top:0;
	background-color: rgba(0,0,0,.5);
	display:block;
	width:100%;
	height:100%;
	z-index:900;
}

.result-popup
{
	background-color: white;
	position: absolute;
	display:block;
	box-sizing: border-box;
	padding: 20px;
	z-index:910;
	width:33%;
	height: auto;
	margin:100px;
	margin-left: 33%;
	margin-bottom: 10px;
	@include shadow-material(5);

	.container-gif
	{
		width: 100%;
		display:block;
		position: relative;
		float: left;

		img
		{
			width:100%;
			display:block;
		}
	}
}

.container-middle
{
	width: 50%;
	height: auto;
	margin-left: calc(25%);

	.container-player
	{
		width : 100%;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		@include shadow-material(4);
		margin-bottom: 20px;

		margin-top: 20px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity:0;
		}

		.gradient-player
		{
			z-index: 2;
			position:absolute;
			top:0; right: 0;
			left:0; bottom: 0;
			background: -owg-linear-gradient(to bottom,transparent,$c-main-black);
		    background: -webkit-linear-gradient(to bottom,transparent,$c-main-black);
		    background: -moz-linear-gradient(to bottom,transparent,$c-main-black);
		    background: -o-linear-gradient(to bottom,transparent,$c-main-black);
		    -pie-background: -pie-linear-gradient(to bottom,transparent,$c-main-black);
		    background: linear-gradient(to bottom,transparent,$c-main-black);
		    opacity: .75;
		}

		.container-infos
		{
			position:absolute;
			bottom: 0;
			right:0; left:0;
			display:block;
			z-index: 3;
			text-shadow: 2px 2px rgba(0,0,0,.2);
			color: white;

			padding:  20px 0;
			height: 36px;

			.info
			{
				width : 33.33333%;
				display:block;
				position: relative;
				float:left;
				height:100%;
				text-align : center;
				letter-spacing: .05em;

				.title
				{
					font-size: 18px;
					font-weight:600;
					clear:both;
					width:100%;
					display:block;
					line-height:1em;
					text-transform:uppercase;
				}

				.number
				{
					font-size: 16px;
					font-weight:lighter;
					clear:both;
					width:100%;
					display:block;
					line-height:1.5em;
					font-style:italic;
				}

				&.info-score 
				{
					.title{
						color: $c-main-red;
					}
				}
			}
		}

	}

	.container-progress-bar{
		height: 20px;
		line-height: 20px;
		width: 100%;
		display:block;
		background-color: rgba(250,250,250,.1);

		.fill-progress-bar{
			height: 100%;
			position: relative;
			float : left;
			background-color: $c-main-red;

			.points{
				display : block;
				text-align: center;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 400;
				color: white;
			}
			
		}
	}

	.question 
	{
		width:100%;
		font-weight:lighter;
		color: rgba(255,255,255,.30);
		text-align:center;
		font-size: 28px;
		display: block;
		margin-top: 20px;
	}
}

.answers-container
{
	position : relative;
	float : left;
	margin-top : 20px;
	width : 100%;

	.answer-container
	{
		width : calc(25% - 40px);
		position: relative;
		margin-left: 20px;
		margin-right : 20px;
		height: auto;
		float : left;
		cursor: pointer;
		padding: 0 0 0 -3px;
		overflow: hidden;

		@include shadow-material(1);
		transition: .275s;

		&:hover
		{
			@include shadow-material(2);

			.overlay-answer
			{
				opacity:1;
			}
			.container-infos
			{
				opacity:0;
			}
			.gradient-answer
			{
				opacity:0;
			}
		}
		img 
		{
			z-index:1;
			width: 100%;
			// -webkit-filter: blur(15px);
   //  		filter: blur(15px);
   //  		transition: 25s;

    		&.unblur
    		{
    			-webkit-filter: blur(0);
    			filter: blur(0);
    			// transition:0s;
    		}
		}

		.container-infos
		{
			opacity:1;
			position: absolute;
			left:0; right:0;
			bottom:0; top:0;
			z-index: 3;
			color: white;
			padding:20px;

			.title-video{
				font-size: 21px;
				position: absolute;
				top:20px;
				left:20px;
				right:20px;
				font-style:italic;
				font-weight:400;
				line-height:1.3em;
			}
		}
		.gradient-answer
		{
			z-index: 2;
			position:absolute;
			top:0; right: 0;
			left:0; bottom: 0;
			background: -owg-linear-gradient(to top,transparent,$c-main-black);
		    background: -webkit-linear-gradient(to top,transparent,$c-main-black);
		    background: -moz-linear-gradient(to top,transparent,$c-main-black);
		    background: -o-linear-gradient(to top,transparent,$c-main-black);
		    -pie-background: -pie-linear-gradient(to top,transparent,$c-main-black);
		    background: linear-gradient(to top,transparent,$c-main-black);
		    opacity: .75;
		}
		.border-answer
		{
			z-index: 4;
			position:absolute;
			top:0; right: 0;
			left:0; bottom: 0;
			border: 1px solid white;
		    opacity: .1;
		}


		.overlay-answer
		{
			background-color: rgba($c-main-red, .95);
			z-index: 3;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			opacity:0;
			transition:.25s;
			color:white;
			text-align:center;
			display: block;
			font-style:italic;
			padding: 0 20px;

			.select
			{
				margin-top:10px;
				display: block;
				width:100%;
				font-size: 21px;
				font-weight:500;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.title-video
			{
				display: block;
				width:100%;
				font-size: 16px;
				font-weight:400;
				opacity:.5;
			}

		}
	}
}

